:root {
  --font-color : #808080; /*121212*/
  --bg-surface : #121212; /*ffffff*/
  
  --bg: #000;  /*E0E0E0*/
  /* button background color  */
  /* --login-btn-bg : #8C9EFF; */
  --login-btn-bg : #64B5F6  ;
  --success: #4CAF50;
  --error: #EF5350;

}


img {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
img:hover {
  opacity: 0.5;
}

.container {
  width: 1300px;
  margin: 0 auto;
}
body {
  background-color: var(--bg);
  height: 100vh;
  overflow-x: hidden;
}

@media only screen and (max-width: 1320px) {
  .container {
    width: calc(100% - 20px);
    margin: 0 auto;
  }
}